p {
	color: #2D3239;;
	font-size: 16px;
	font-family: serif;
	max-width: 800px;
}
body {
	margin: 10px;
  background-color: #F6F4F3;
}
header {
  background-color: #CDE6F5;
  color: #49505B;
  font-size: 60px;
  font-family: serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #888;
  font-family: arial, sans-serif;
}
nav li {
  float: left;
}
nav li a {
  color: #F6F4F3;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #49505B;
}
nav li a:hover {
  background-color: #2582BB;
}
ol li {
	font-size: 16px;
	font-family: serif;
	max-width: 800px;
}
img {
	float: right;
	margin: 20px;
}
.centering {
	margin-left: 300px;
    margin-right: 300px;
    background-color: #CDE6F5;
	max-width: 200px;
}
footer {
	max-width: 800px;
}
#extra {
	text-shadow: 2px 2px #CDE6F5;
}
.border {
	border-width: 3px;
  	border-color: #8DA7BE;
  	border-style: solid;
  	margin-bottom: 5px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	border-radius: 10px;
  	max-width: 850px;
}
h3 {
	background-color: #CDE6F5;
	max-width: 100px;
}
h2 {
	font-size: 35px;
	color: #49505B;
	font-family: serif;
}
h1 {
	text-decoration: underline;
	color: #49505B;
}
table, th, td {
  border: 1px solid black;
}
